$fontFamily: "Lora", serif;
$bgCol1: #3A3E59;
$bgCol2: #F9AC66;
$bgCol3: #C36B84;
$bgCol4: #ED6B5B;
$boxShadow: 0px 2px 6px #ffffff;
$letterSpacing: 5px;
$white: #ffffff;
$transition: all 0.4s ease-in-out;
$textFontSize: 1.5rem;
$textShadow: 12px 11px 25px rgba(255, 255, 255, 0.89);
